<app-header></app-header>
<main>
    <div style="background-color: blue; width: auto; height: 95vh; display: flex; justify-content: center; align-items: center;">
        <div style="background-color: white; width: 50%;height: 70%; display: flex; flex-direction: column; justify-content: space-around; align-items: center;" >
            <h1 style="color: rgb(231, 179, 48);">JUR.AI</h1>
            <div style="width: 50%;
                        height: 40%;
                        display: flex;
                        flex-direction: column;
                        align-items: start;">
                <H2 style="margin-bottom: 80px;">Login</H2>
                <form action="">
                    <label for="">E-mail</label><br>
                    <input type="text" style="width: 300%; height: 40px; background-color: rgb(217, 214, 214);">
                    <br>
                    <br>
                    <label for="">Senha</label><br>
                    <input type="password" style="width: 300%; height: 40px; background-color: rgb(217, 214, 214);">
                </form>
            </div>
            <button style="background-color: orange; width: 150px; border: none; height: 40px; font-size: 20px;">Entrar</button>
        </div>
    </div>
</main>
